@font-face {
    font-display: swap;
    font-family: 'Inter Regular';
    font-style: normal;
    font-weight: 400;
    src: url('~~/fonts/inter-v13-latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Inter Medium';
    font-weight: 600;
    src: url('~~/fonts/inter-v13-latin-600.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Inter Semi Bold';
    font-weight: 700;
    src: url('~~/fonts/inter-v13-latin-700.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Inter Bold';
    font-weight: 800;
    src: url('~~/fonts/inter-v13-latin-800.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Gin Test';
    font-style: normal;
    font-weight: 400;
    src: url('~~/fonts/Gin Test.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    src: url('~~/fonts/roboto-v30-latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Roboto Semi Bold';
    font-weight: 700;
    src: url('~~/fonts/roboto-v30-latin-700.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Roboto Bold';
    font-weight: 900;
    src: url('~~/fonts/roboto-v30-latin-900.woff2') format('woff2');
}
