@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Inter.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter-Medium";
  src: url("/fonts/Inter Medium.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter-Semi-Bold";
  src: url("/fonts/Inter Semi Bold.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter-Bold";
  src: url("/fonts/Inter Bold.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Gin-Test";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Gin Test.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/roboto-v30-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 700;
  src: url("/fonts/roboto-v30-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 900;
  src: url("/fonts/roboto-v30-latin-900.woff2") format("woff2");
}
