@tailwind base;
@tailwind components;
@tailwind utilities;

html body {
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

html.dark body {
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

body {
    font-family: "Inter", "SF Pro", "Open Sans", Candara;
    background-color: #fff;
    color: #000;
}

.dark body {
    background-color: #141414;
    color: #f2f2f2;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

.invisible {
    visibility: hidden;
    opacity: 0;
}
